{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="p-4 mb-4 text-white bg-{{ 'green-500' if category == 'success' else 'red-500' }} rounded">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VIKING MARINE INC </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt=" Logo">

        <h2 class="logo">VIKING MARINE INC</h2>
        <nav class="navigation">
            <a href="#">Home</a>
            <a href="#">About</a>
            <div class="dropdown">
                <button class="dropbtn">Profile</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('login') }}">Login</a>
                </div>
            </div>
           
            
        </nav>
    </header>
    <section class="home">
        <div class="content">
            <h4>VIKING MARINE INC</h4>
            <p><strong>"VIKING MARINE INC led by qualified surveyors, having several years of experience in field of comprehensive range of surveillance and supervisory services 
                in line of Marine Cargo with an excellent, dedication, well experienced and competent staff to handle challenging job to the satisfaction of Valued Customers, confined to our QUALITY POLICY and relying in Environmental Protection.".</strong></p>
            <div class="btn-group">
                <a href="#">register Now...!</a>
            </div>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
    </section>
    
</body>
</html>
